<config platform="project" template="project (default)">Created: Fri Nov 1 09:55:31 2013
By: millykc
Using Template: project (default)

&lt;description to go here>
<option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="LeadboltExt_iphone" name="name" fromDef="true"/>
    <option value="LeadboltExt_iphone" name="caption" fromDef="true"/>
    <option value="Tech" name="provider" fromDef="true"/>
    <option value="(C) Tech" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
